@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,400;1,900&display=swap');

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  justify-content: center;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
  flex-direction: column;
  width: 400px;
  position: relative;
}

.input-form {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

.content-container.active {
  background-color: antiquewhite;
}

input[type='text'] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  border: 2px solid #dadada;
}

button {
  position: relative;
  height: 60px;
  border: none;
  outline: none;
  background: #9ecaed;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s;
  margin-top: 3rem;
}

button:hover {
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}

input[type="text"]:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.todo-container {
  font-size: 15px;
}

.content-container {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
}

.content-paragraph {
  font-weight: 300;
  grid-column-start: 2;
  grid-column-end: 4;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}
